* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;  
  border-radius: 0.2rem;
}
body {
  background: #0d1117;
  color: #ecf2f8;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 3rem auto;
}

.new-client {
  background-color: transparent;
  color: #ecf2f8;
  padding: 0.8rem 1.8rem;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.new-client:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.content {
  width: 100%;
  margin-top:  3rem;
}

table {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 0 auto;
}

td, th {
  border: 1px solid ;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
th {
  padding: 1rem 4rem;
}
td {
  padding: 0.9rem 3rem;
  text-align: center;
}

tr:nth-(childeven) td {
  background-color: rgba(0, 0, 0, 0.1);
}

tr:nth-child(odd) td {
  background-color: rgba(0, 0, 0, 0.3);
}
#identifier {
  color: #7ce38b;
}
#name {
  color: #a2d2fb;
}